<div class="entry">
  <h3 class="term">ABDICATION</h3>
  <div class="part">n.</div>
  <div class="definition">
    An act whereby a sovereign attests his sense of the high temperature of the throne.
    <div class="quote">
      <div class="quote-line">Poor Isabella's Dead, whose abdication</div>
      <div class="quote-line">Set all tongues wagging in the Spanish nation.</div>
      <div class="quote-author">G.J.</div>
    </div>
  </div>
</div>

<div class="enry">
  <h3 class="term">ABSOLUTE</h3>
  <div class="part">adj.</div>
  <div class="definition"></div>
  Independent, irresponsible.
  </div>
</div>