<!DOCTYPE html>
<html>
<head>
  <title>AjaxScratch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="dictionary.js"></script>
</head>
<body>
  <p>Hi there</p>
<%= yield %>

</body>
</html>
